@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  background-color: #0f172a;
  color: white;
}

.dark .bg-white {
  background-color: #1e293b !important;
  color: white !important;
}